{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'styleAuth.css' %}">
    <link rel="icon" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
</head>

<div class="Window">
        <div class="main">
            <form action="" method="post">
                {% csrf_token %}
                <label aria-hidden="true">Войти</label>
                <input type="username" name="username" placeholder="Имя пользователя" required="">
                <input type="password" name="password" placeholder="Пароль" required="">
                <button class="loginButton">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}