{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styleBase.css' %}">
    <link rel="icon" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
</head>
<body>
<div class="page">
    <div class="header">

        <img src="{% static 'favicon5-transformed.png' %}" width="60px" height="65px">

        <div class="LeftButton">
            <div><a class="button" href="{% url 'main' %}">Главная</a></div>
            {% if user.is_anonymous %}

            {% else %}
            <div>
                <a class="button" href="{% url 'image' %}">Поиск изображения</a>
                <a class="button" href="{% url 'fruit_list' %}">Фрукты</a>
            </div>
            {% endif %}
        </div>

        <div class="RightButton">
            {% if user.is_anonymous %}
                <div><a class="button" href="{% url 'auth' %}">Войти</a></div>
                <div><a class="button" style="background: #0d4382" href="{% url 'registration' %}">Регистрация</a></div>
            {% else %}
                <div>
                    <a class="button" href="{% url 'logout' %}">Выйти</a>
                    <a class="button" href="{% url 'profile' %}">Личный кабинет</a>
                </div>

            {% endif %}
        </div>

    </div>

    <div class="content">{% block content %}{% endblock %}</div>

    <footer class="footer">
        <div class="footer-content">
            2023 Онлайн-сервис "Vizor"
        </div>
    </footer>
</div>
</body>
</html>