{% extends 'web/base.html' %}

{% block content %}
  <ul>
    {% for fruit in fruits %}
      <li><a href="{% url 'fruit_detail' fruit.id %}">{{ fruit.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
