{% extends 'web/base.html' %}

{% block content %}
  <h2>{{ fruit.name }}</h2>
  <img src="{{ fruit.image.url }}" alt="{{ fruit.name }}">
  <p>{{ fruit.description }}</p>

  <h3>Отзывы:</h3>
  {% for review in reviews %}
    <p>{{ review.text }}</p>
    <p>От кого: {{ review.user.username }}</p>
    <hr>
  {% empty %}
    <p>No reviews yet.</p>
  {% endfor %}

  <h3>Добавить Отзыв</h3>
  <form method="post" action="{% url 'fruit_detail' fruit.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить">
  </form>
{% endblock %}
