{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styleImage_create.css' %}">
    <link rel="icon" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
</head>

<div class="page">
<!--первозданная форма, которая уже была-->
    <div class="forma2">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Выводим каждое поле формы в отдельном параграфе -->
            {{ form.as_p }}
        <button type="submit">Загрузка</button>
        </form>
    </div>
    {% if logo_name %}
      <h3>Результат распознавания логотипа:</h3>
      <p>{{ logo_name }}</p>
    {% endif %}
</div>
{% endblock %}