
{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'styleMain.css' %}">
    <link rel="icon" sizes="32x32" href="{% static 'favicon-16x16.png' %}">



    <link rel="stylesheet" href="{% static 'flickity.css' %}" media="screen">
    <script type="text/javascript" src="https://yastatic.net/jquery/2.1.3/jquery.min.js"></script>

</head>
<div class="contentNew">

    <main class="content">
        <h1>Vizor</h1>
    <h3 class="text2">"Vizor" - это сайт для распознавания
        различных брендов по изображению. С выдачей информации
        по бренду. Чтобы воспользоваться сайтом, войдите на сайт
        или пройдите регистрацию. </h3>
        <h2>Как это работает:</h2>

<div class="Billboard Block">

        <div class="gallery js-flickity"
             data-flickity-options='{ "wrapAround": true , "autoPlay": true }'>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="{% static 'part1-transformed.png'%}" width="750px" height="450px"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="{% static 'part2-transformed.png'%}" width="750px" height="450px"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="{% static 'part3-transformed.png'%}" width="750px" height="450px"></a></div>
        </div>

    </div>

<!--            <h1 class="title">Загрузить изображение</h1>-->
<!--                <form enctype="multipart/form-data" method="post">-->
<!--                    <p>-->
<!--                        <input type="file" name="f">-->
<!--                        <input type="submit" value="Отправить">-->
<!--                    </p>-->
<!--                </form>-->
    </main>
</div>


<script src="{% static 'flickity.js'%}"></script>
{% endblock %}