{% extends 'web/base.html' %}

{% block content %}
  <h2>{{ user.username }}</h2>
  <form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <label for="first_name">Имя</label>
    <input type="text" name="first_name" value="{{ user.first_name }}">
    <br>
    <label for="last_name">Фамилия</label>
    <input type="text" name="last_name" value="{{ user.last_name }}">
    <br>
    <input type="submit" value="Save">
  </form>
{% endblock %}
