.contentNew{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.content {
    max-width: 850px;
    margin: 0 auto;
    /*padding: 40px 20px;*/
}
h1{
    font-size: 60px;
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
}














