.Window {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
p{
    font-size: 2em;
    font-weight: bold;
}

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    background: #0f0c29;
    box-shadow: 5px 20px 50px #000;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.registrButton {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

    .registrButton:hover {
        background: #0d4382;
    }