.page {
    display:flex;
    flex-direction: column;
    max-height: 100vh;
}
.forma1 {
    display:flex;
    justify-content: center;
}
.forma2{
    background: black;
    display:flex;
    justify-content: center;
    max-height: 10px;
}
.title {
    display:flex;
    justify-content: center;
    padding:10px;
}