.Window {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    background: #0f0c29;
    box-shadow: 5px 20px 50px #000;
}

label {
    color: #fff;
    font-size: 3.3em;
    justify-content: center;
    display: flex;
    margin: 70px;
    font-weight: bold;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.loginButton {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.loginButton:hover {
    background: #0d4382;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
}

    .login label {
        color: #573b8a;
        transform: scale(.6);
    }
