body{
    margin: 0;
    color: #f3f3f3;
    font-family: Roboto, sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #302b63,#302b63, #24243e);  /*#1C1840*/
    min-height: 99vh;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header{
    margin:0;
    padding:10px;
    background-color: #1C1840;     /*#151133*/
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.RightButton {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    padding: 20px 0 20px 0; /*Up left bottom right*/
}

.LeftButton{
    width: 75%;
    display: flex;
    padding: 20px 0 20px 0; /*Up left bottom right*/
}

.button{
    text-decoration: none;
    color: #f3f3f3;
    border-color: #573b8a;
    padding: 10px;
    border-radius: 17px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 17.5px;
}

.button:hover {
        background: #0d4382; /*#6d44b8*/
        color: #f3f3f3;
        box-shadow: inset 0 0 0 2px #f3f3f3;
    }
/*footer*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer {
    padding: 20px;
    background-color: #272647;  /*#252542*/
}

.footer {
    margin-top: auto;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




